@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;600;700&display=swap');
@import "tailwindcss";


:root {
  --background: #F0F8FA;
  --foreground: #3F4F5F;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-azul: #A8DADC;
  --color-verde: #B2D8BB;
  --color-amarillo: #FFEE93;

  --font-primary: "Poppins", sans-serif;
  --font-secundary: "Lato", sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@layer utilities {
  .bottom-Navbar {
    transition: all 0.2s;

    &:hover {
      transform: scale(1.20);
      background-color: #B2D8BB;
      border-radius: 25px;
    }
  }

  .background-card {
    background: linear-gradient(135deg, var(--color-azul) 0%, var(--color-verde) 100%);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-primary);
}